button.button {
  appearance: none;
  border: 1px solid #fff;
  padding: 1rem;
  background-color: transparent;
  color: #000;
  cursor: pointer;
  transition: all 0.23s ease-in-out;
  box-shadow: 1px 1px 3px #fff;

  &:hover {
    background-color: #000;
    color: #fff;
    box-shadow: 1px 1px 3px #000;
  }
}

.head-logo {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 999;

  img {
    filter: grayscale(1) brightness(3.5);
  }
}

.inner {
  max-width: 95%;
  margin: 0 auto;
}

.footer {
  padding: 3rem;
}

.header {
  position: absolute;
  padding: 2.5rem;
  width: 100%;
  z-index: 999;
  background-color: rgba(#000, 0.05);

  nav a {
    padding: 2.25rem;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 2px;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    transition: all 0.34s ease-in-out;

    &:hover {
      border-bottom: 1px solid #fff;
      background-color: rgba(#fff, 0.05);
    }
  }
}


@import "../pages/*.scss";