.dance {

  .heading {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;
  }

  .heading2 {
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    display: block;
    width: 100%;
    letter-spacing: 1.2px;
    font-weight: 400;
    margin: 3rem 0 1rem;
    text-align: center;
  }
}

.dance-hero {
  position: relative;
  background-image: fixed;
  &:after {
    content: '';
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  h1 {
    position: absolute;
    top: 75%;
    width: 100%;
    color: #fff;
    font-size: 54px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    z-index: 999;
  }

  video, img {
    display: block;
  }
}

.dance-split-media-content {
  padding: 3rem 0;
  
  &:nth-of-type(2) {
    background-color: #fff;
    * {
      color: #000;
    }
    .button  {
      border-color: #000;
    }
  }

  .inner {
    display: flex;
    align-items: center;
    * {
      flex: 1 1 50%;
    }

    .split-content {
      padding: 0 3rem;
    }

    p {
      font-size: 24px;
      margin-bottom: 2rem;
      max-width: 75%;
    }
  }

  img {
    box-shadow: 1px 1px 10px 2px #000;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    
    &.fade-in {
      opacity: 1;
    }
  }
}

.what-we-do {
  padding: 3rem 0;

  &-content {
    margin-bottom: 3rem;
  }

  p {
    font-size: 24px;
  }

  strong {
    font-weight: bolder;
    font-size: 26px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    list-style: none;
    margin: 0 auto;

    li {
      flex: 1 1 25%;
      padding: 2rem;
      border: 1px solid #fff;
      border-radius: 8px;
      margin: 1rem;
    }
   }
}

.testimonials {
  text-align: center;
  padding: 3rem 0;
  background-color: #fff;
  color:#000;
  blockquote {
    max-width: 500px;
    margin: 0 auto 2rem;
  }
}

.video-break {
  padding: 3rem 0;
}

.about {
  background: #fff;
  padding: 3rem 0;
  text-align: center;
  color: black;
  
  &__inner {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
  }

  p {
    font-size: 22px;
    max-width: 80%;
    margin: 0 auto 3rem; 
  }
}

.modal {
  position: fixed;
  background-color: #000;
  padding: 3rem; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  @media all and (min-width: 575px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 60vw;
    height: 600px;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 32px;
    cursor: pointer;
  }

  video {
    display: block;
    max-height: 90%;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 1em;
  }

}

.clickable {
  cursor: pointer;
  display: block;
  padding: 1rem 0;

  &:hover {
    color: #128cc9
  }
}

.catcher {
  background-color: #000;
  opacity: 0.15;
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

.auditions {
  padding: 3rem 0;

  &__inner {
    display: flex;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;

    > * {
      flex: 1 1 50%;
      padding: 1rem;
    }
  }

  &__heading {
    border-bottom: 1px solid #fff;
    padding-bottom: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    * {
      font-family: var(--font-mono);
    }

    label {
      margin-bottom: 1rem;
      font-size: 18px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      background-color: transparent;
      padding: 1rem;
      margin-bottom: 1rem;
      border: 1px solid rgba(#fff, 0.75);
    }

    input[type="submit"] {
      padding: 1rem;
      background-color: #fff;
      color: #000;
      transition: all 0.23s ease-in;
      appearance: none;
      border: 0;
      border: 1px solid #000;
      text-transform: uppercase;
      letter-spacing: 0.25rem;

      &:hover {
        background-color: #000;
        color: #fff;   
        border: 1px solid #fff;
      }
    }
  }
}
