.home {
  display: flex;

  .head-logo {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 999;
  }

  &__link {
    overflow: hidden;
    display: block;
    width: 33.3333333333%;
    transition: all 0.5s ease-in-out;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.3;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover {
      width: 60%;

      &:after {
        opacity: 0;
      }

      h1 {
        z-index: 9999;
      }
    }
    
    &:nth-of-type(1) {
      left: 0;
      transform-origin: left center;
    }
    &:nth-of-type(2) {
      transform-origin: right center;
    }
    &:nth-of-type(3) {
      right: 0;
      transform-origin: right center;
    }

    h1 {
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%);
      font-size: 68px;
      text-shadow: 1px 0px 0px #000;
    }
  }
}