.retreats {
  &-hero {
    width: 100%; 
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.3; 
      background-color: #000;
    }

    h1 {
      width: 60%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 20px;
      text-align: center;
      text-shadow: 1px 1px 1px #000;
      @media all and (min-width: 575px) {
        font-size: 40px;
      }
    }
  }
}
.retreat {
  max-width: 1260px;
  width: 95%;
  margin: 0 auto;

  h1 {
    font-size: 24px;
    padding: 3rem 0;
    text-align: center;
    @media all and (min-width: 575px) {
      font-size: 36px;
    }
  }
}



.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem; 
  > img {
    flex: 1 1 25%;
    object-position: top;
  }
}

.retreat-intro {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  > * {
    flex: 1 1 50%;
  }
  h3 {
    padding: 1rem;
  }
  img {
    max-width: 100%;
  }
}
.modal {
  position: fixed;
  padding: 2rem;
  width: 90vw;
  height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba($color: #000000, $alpha: .9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;

  .close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 40px;
    cursor: pointer;
  }

  .prev-button,
  .next-button {
    cursor: pointer;
    padding: 2rem;
    font-size: 35px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0%, -50%);
  }

  .next-button { 
    left: auto;
    right: 0; 
  }

  img {
    width: 90%;
    height: auto;
    height: 90%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
}